.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 1200px;
  justify-content: center;
  margin: auto;
}

.chat-container .title-1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
  background: linear-gradient(to top, transparent 0%, #0e2431 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(65px);
  opacity: .2;
}

.chat-container .title-2 {
  font-size: 2em;
  font-weight: 700;
	transform: translateY(-10px);
  color: #191970;
}

.message-list::-webkit-scrollbar {
  width: .3em;
}

.message-list::-webkit-scrollbar-track {
  background: #777777;
  border-radius: 10px;
}

.message-list::-webkit-scrollbar-thumb {
  background: #78a084;
  border-radius: 10px;
}

.message-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  background-color: #e5e5ea;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #f0f0f0;
  margin-top: 20px;
  border-radius: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.chat-input button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #ccc;
}

/* Style for emoji button - You may need to replace with your own emoji picker */
.emoji-button {
  font-size: 20px;
  cursor: pointer;
}

.message-details {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
}

.emoji-picker {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 400px;
  max-height: 100px; /* Adjust the max height as needed */
  overflow-y: auto;
}

.emoji-picker::-webkit-scrollbar {
  width: .3em;
}

.emoji-picker::-webkit-scrollbar-track {
  background: #777777;
  border-radius: 20px;
}

.emoji-picker::-webkit-scrollbar-thumb {
  background: #78a084;
  border-radius: 20px;
}

.emoji-picker-inner {
  display: flex;
  flex-wrap: wrap;
}

.emoji-picker span {
  padding: 5px;
  cursor: pointer;
}
.message.sent {
  align-self: flex-end;
  background-color: #DCF8C6;
  margin-left: auto;
}

.message.received {
  align-self: flex-start;
  background-color: #E5E5EA;
  margin-right: auto;
  border: 1px solid #777777;
}

.message .message-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.message .message-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.message .message-sender {
  font-weight: bold;
}
