.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.home .image {
  width: 100%;
}

.home .image img {
  width: 100%;
}

.home .content {
  display: flex;
  flex-direction: column;
}

.home .content h3 {
  font-size: 4rem;
  color: #777;
  line-height: 1.;
  text-shadow: .4rem .4rem 0 rgba(0, 0, 133, .2);
}

.home .content p {
  font-size: 1.4rem;
  color: #777;
  line-height: 1.8;
  padding: 1rem 0;
}

.home .content .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem;
  padding-left: 1rem;
  border: 2px solid ;
  border-radius: .5rem;
  box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
  color: #777;
  cursor: pointer;
  font-size: 1.7rem;
  transition: .5s;
  width: 130px;
  text-decoration: none;
}

.home .content .btn:hover {
  background: #777;
  color: #fff;
}