.container img {
  width: 55px;
}
.container span {
  font-weight: 1000;
  font-size: 15px;
  color: #191970;
}

.profile-link {
  text-decoration: none;
  color: black;
}

.userprofile {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 0 auto;
}
