.security-form-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 580px;
  border-radius: 30px;
  background: #bceeca;
  margin: auto;
}

.security-form {
  background-color: #f0f0f0;
  padding: 20px;
  height: 500px;
  border-radius: 10px;
  width: 510px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.security-form h2 {
  color: navy;
  margin-bottom: 10px;
}

.security-form label {
  display: block;
  margin-bottom: 10px;
}

.security-form input, .security-form select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.security-form .button {
  display: flex;
  justify-content: center;
}

.security-form button {
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #777777;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.security-form button:hover {
  background-color: #594949;
}