.survey-container {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #bceeca;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.survey-container form h2 {
  text-align: center;
  font-size: 1em;
  margin-bottom: 20px;
}

.survey-form {
  max-width: 400px;
  margin: 0 auto;
}

.survey-label {
  margin-right: 20px;
  font-size: 1em;
  font-style: italic;
  color: #332e2e;
  display: block;
  padding-right: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.survey-label input[type='checkbox'] {
  margin-right: 10px;
  accent-color: #bceeca;
  border-radius: 20px;
}

.survey-btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.survey-btn button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: #def7e5;
  border-radius: 20px;
  cursor: pointer;
}

.survey-btn button:hover {
  background: #777777;
  color: #fff;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #d4f7fc;
  padding: 20px;
  border-radius: 10px;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.close:hover {
  color: red;
}